.box {
    margin: 50px auto;
    width: 25%;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.65);
}

.box .password-group {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.box .password-group label {
    margin-top: 10px;
}

.password-group input {
    margin-top: 5px;
    padding: 10px;
    width: 100%; 
}

.password-form .password-btn-div {
    margin-top: 20px; 
    text-align: center;  
}

.password-form .password-btn-div .btn.password-button {
    
    width:fit-content; 
    font-size: 15px; 
}

.box h3 {
    text-align: center;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.error-text {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
